@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #EEF2F3;
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
